<div class = "large-9 large-centered columns">

<h1>Edit <%= User.find(params[:id]).username %></h1>

<%= render @user %>

<div class = "center">
	<%= link_to "Cancel", user_path(current_user.id) %>
</center

</div>