<div class = "large-6 large-centered columns">

	<h1>Signup</h1>

	<div class = "panel center">
	<%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
	</div>

	<%= render @user %>

	<div class = "center">
	<%= link_to "Back", projects_path %>
	</div>
</div>