<h1><%= @user.username %></h1>

<p><%= link_to "Edit Profile", edit_user_path %></p>

<p>Here are the projects that you have pledged:</p>

<% @user.projects.pledges.each do |pledge| %>
  
  <% x = Project.find(pledge.project_id).name %>
  <%=  pledge.project_id %>
  <%= link_to x.name, project_path(pledge.project_id) %>

<% end %>

<p>Here are the projects that you own:</p>
