<% if comment.id.present? %>

  <div class="comment">
    <p><%= comment.content %>

    <% if comment.user === current_user %>
      <em> | <%= link_to "Edit", edit_project_review_path(@project.id,comment.id) %> | <% link_to "Trash", project_review_path(@project.id,comment.id), :method => :delete %></em><br>
      <% end %>

      <em> by <%= comment.user.username %></em>
      Added on: <%= comment.created_at %>
  </p></div>
<% end %>