<h3><%= link_to project.name, "/projects/#{project.id}" %><h3>
<p><%= truncate(project.description, length:350, separator: ' ') {link_to "(Read More)", "/projects/#{project.id}" } %><p>
<p><%= project.deadline %> | $<%= project.goal %></p> 
